@import '../../../styles/libs';

.toast {
  display: flex;
  gap: 10px;
  align-items: center;

  box-sizing: border-box;
  width: fit-content;
  padding: 10px 16px;
  border-radius: $BORDER-RADIUS-MD;

  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

  color: $BLUE-GRAY-700;
  font-weight: 500;
  font-size: small;

  transition: box-shadow 0.3s;

  > .toast-contents-wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    overflow: hidden;
  }

  &:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);

    cursor: grabbing;
  }

  &.float-direction-from-top {
    &.opened {
      @include fade-in-top(0.3s);
    }
    &.closing {
      @include fade-out-top(0.5s);
    }
  }

  &.float-direction-from-bottom {
    &.opened {
      @include fade-in-bottom(0.3s);
    }
    &.closing {
      @include fade-out-bottom(0.5s);
    }
  }
}

.toast-wrap {
  overflow: visible;

  margin: 0;

  transition: height 0.5s, margin 0.5s;
  &.has-space {
    margin: 10px 0;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
