@use 'src/styles/libs' as *;

.toast {
  display: flex;
  overflow: hidden;

  width: fit-content;
  height: 0;
  border-radius: $BORDER-RADIUS-MD;

  background-color: white;
  box-shadow: $BOX_SHADOW;

  color: $GRAY-700;

  transition: box-shadow 0.3s, height 0.4s cubic-bezier(0.71, -0.01, 0.39, 1.01),
    margin 0.4s cubic-bezier(0.71, -0.01, 0.39, 1.01);

  &:hover {
    box-shadow: $HOVERED_BOX_SHADOW;

    cursor: grabbing;
  }

  &.has-space {
    margin: 0.5rem 1rem;
  }

  &.dark {
    background-color: $GRAY-700;
    box-shadow: $DARK_BOX_SHADOW;

    color: $GRAY-50;

    &:hover {
      box-shadow: 0px 0px 12px rgba($GRAY-900, 0.8);
    }
  }

  //* toast status
  &.opening,
  &.closed {
    visibility: hidden;
  }

  &.deleted {
    height: 0;
    margin: 0;

    visibility: hidden;
  }

  &.float-direction-from-top {
    &.holding,
    &.opened {
      @include fade-in-top(0.4s);
    }

    &.closing {
      @include fade-out-top(0.4s);
    }
  }

  &.float-direction-from-bottom {
    &.holding,
    &.opened {
      @include fade-in-bottom(0.4s);
    }

    &.closing {
      @include fade-out-bottom(0.4s);
    }
  }
}

.toast-contents-wrap {
  box-sizing: content-box;
  height: fit-content;
  padding: $INPUT_MEDIUM_PADDING_X 1rem;

  font-weight: inherit;
  white-space: pre-line;
}

.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 1.3rem;
  padding: 0 0.6rem;

  background-color: $GRAY-200;

  color: white;

  &.success {
    background-color: $GREEN-400;
  }

  &.fail {
    background-color: $RED-500;
  }

  &.warning {
    background-color: $AMBER-500;
  }

  &.info {
    background-color: $BLUE-400;
  }

  > svg {
    width: 1.2em;
    height: 1.2em;
  }
}
