@use 'src/styles/libs' as *;

.pagination {
  display: flex;
  overflow: hidden;

  width: fit-content;
  height: fit-content;
  padding: 0;
  border: 1px solid rgba($GRAY-400, 0.4);
  border-radius: $BORDER-RADIUS-MD;

  list-style: none;

  font-weight: 600;
}

.pagination-item-border {
  border-right: 1px solid rgba($GRAY-400, 0.1);
}

.hidden {
  visibility: hidden;
}

.item-size {
  width: 1.3em;
  height: 1.3em;
}
