@import '../../../styles/libs';

@mixin size($paddingX, $height) {
  height: $height;
  padding: 0 $paddingX;
}

.input-interaction-wrap {
  position: relative;
  z-index: 1;

  width: 100%;
}

.input-container {
  position: relative;

  width: 100%;
}

.input-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.8em;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;

  color: $BLUISH-GRAY-700;
  font-size: $NORMAL;

  transition: box-shadow 0.3s, background-color 0.3s;

  @include border($BLUISH-GRAY-200, 1px);

  //*Size
  &.size-none {
    @include size(0, fit-content);
  }

  &.size-small {
    @include size(14px, 32px);
  }

  &.size-medium {
    @include size(16px, 40px);
  }

  &.size-large {
    @include size(18px, 48px);
  }

  //* Type
  &:not(&:has(:disabled)) {
    background-color: $WHITE;
    &:hover {
      @include border($BLUE-300, 2px);
    }

    &:has(:focus) {
      @include border($BLUE-500, 2px);

      &.error {
        @include border($PEACH-500, 2px);
      }
    }

    &:has(input[type='button']) {
      &,
      > * {
        cursor: pointer;
      }
    }
  }

  &:has(:disabled) {
    background-color: $BLUISH-GRAY-10;
    @include border($BLUISH-GRAY-200, 1px);
    color: $BLUISH-GRAY-400;
    > * {
      cursor: not-allowed;
    }
  }

  &.error {
    @include border($PEACH-500, 2px);
  }
}

.validation-message {
  @include shake-horizontal(0.9s);
  z-index: 0;

  padding-left: $SMALL3X;

  color: $PEACH-500;
  font-size: $SMALL;
}

.validation-space {
  height: 21px;
}

.validation-message,
.validation-space {
  margin-top: 6px;
}
