@import '../../../styles/libs';

.unit {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 100%;
  padding: 0 1em;
  border-top-right-radius: $BORDER-RADIUS-MD;
  border-bottom-right-radius: $BORDER-RADIUS-MD;

  color: $GRAY-400;
  font-weight: 700;
  font-size: 0.7em;
  white-space: nowrap;
}

.light {
  background: linear-gradient(
    to right,
    rgba($GRAY-300, 0.01) 5%,
    rgba($GRAY-300, 0.2) 60%
  );
}

.dark {
  background: linear-gradient(
    to right,
    rgba($GRAY-100, 0.01) 5%,
    rgba($GRAY-100, 0.2) 60%
  );
}
