@use 'src/styles/libs' as *;

.accordian-title-wrap {
  width: 100%;
}

.chevron-down-icon {
  width: 1.2em;

  color: rgba($GRAY-400, 0.4);

  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  stroke-width: 2;

  &.opened {
    transform: rotate(180deg);
  }
}

.accordian-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  border: none;

  background-color: unset;

  color: inherit;
  font-size: inherit;
  font-family: inherit;

  cursor: pointer;

  &:hover > .chevron-down-icon {
    color: rgba($GRAY-400, 0.8);
  }
}

@mixin size($paddingX, $height) {
  height: $height;
  padding-right: $paddingX;
  padding-left: $paddingX;
}

//*Size

@mixin sizeClasses {
  .size-small {
    @include size($INPUT_SMALL_PADDING_X, $INPUT_SMALL_HEIGHT);
  }

  .size-medium {
    @include size($INPUT_MEDIUM_PADDING_X, $INPUT_MEDIUM_HEIGHT);
  }

  .size-large {
    @include size($INPUT_LARGE_PADDING_X, $INPUT_LARGE_HEIGHT);
  }
}

@include sizeClasses;

.title-contents {
  flex: 1;
  overflow: hidden;

  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}
