@use './AccordionTitle.module.scss' as title;
@use 'src/styles/libs' as *;

.accordian-contents-wrap {
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  margin: 0;

  transition: height 0.3s;
}

@include title.sizeClasses;

.divider {
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;

  background-color: $COOL-GRAY-300;

  &.dark {
    background-color: $COOL-GRAY-500;
  }

  &.opened {
    @include fade-in(0.3s, 0.2s);
  }

  &.closed {
    @include fade-out(0.2s);
  }
}

.accordian-contents {
  box-sizing: border-box;
  width: 100%;

  font-size: inherit;
  padding: {
    top: 10px;
    bottom: 10px;
  }

  @include fade-out-top(0.3s);

  &.opened {
    @include fade-in-top(0.3s);
  }
}
