@use 'src/styles/libs' as libs;

.accordian-title-wrap {
  width: 100%;
}

.accordian-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  border: none;

  background-color: unset;

  color: inherit;
  font-size: inherit;

  cursor: pointer;
}

@mixin size($paddingX, $height) {
  height: $height;
  padding-right: $paddingX;
  padding-left: $paddingX;
}

//*Size
@mixin sizeClasses {
  .size-small {
    @include size(14px, 32px);
  }

  .size-medium {
    @include size(16px, 40px);
  }

  .size-large {
    @include size(18px, 48px);
  }
}

@include sizeClasses;

.title-contents {
  flex: 1;
  overflow: hidden;

  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chevron-down-icon {
  width: 1.2em;

  color: rgba(libs.$GRAY-400, 0.4);

  transition: transform 0.3s ease-in-out;
  stroke-width: 2;
  &.opened {
    transform: rotate(180deg);
  }
}
