@use 'src/styles/libs' as *;

.accordian-container {
  overflow: hidden;

  border: 1px solid $COOL-GRAY-300;
  border-radius: $BORDER-RADIUS-MD;

  background-color: white;

  color: $GRAY-700;
  @layer {
    & {
      width: $INPUT_DEFAULT_WIDTH;
    }
  }
}

.dark {
  border: 1px solid $COOL-GRAY-500;

  background-color: $GRAY-700;

  color: $GRAY-50;
}
