@use 'src/styles/libs' as *;

.tab {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;

  margin: 0 1rem;
  padding: 0.5rem 0.5rem 0;
  padding-top: 0.5rem;
  border-radius: $BORDER-RADIUS-SM;

  list-style: none;

  font-weight: 600;

  &::-webkit-scrollbar {
    display: none;
  }
}

.overflow-light {
  box-shadow: inset 10px 0 5px -8px rgb(0 0 0 / 0.1),
    inset -10px 0 5px -8px rgb(0 0 0 / 0.1);
}

.overflow-dark {
  box-shadow: inset 10px 0 5px -8px rgb(0 0 0 / 0.3),
    inset -10px 0 5px -8px rgb(0 0 0 / 0.3);
}
