@use 'src/styles/libs' as *;

.input {
  width: 100%;
  border: none;

  background-color: inherit;
  outline: none;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: start;

  transition: color 0.3s;

  &::placeholder {
    color: $INPUT_PLACEHOLDER_COLOR;
  }
}

.button {
  overflow: hidden;

  text-overflow: ellipsis;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &.empty {
    color: $INPUT_PLACEHOLDER_COLOR;
  }
}
