@import '../../../styles/libs';

@mixin default-theme($color, $backgroundColor, $boxShadow, $borderColor) {
  border: 1px solid $borderColor;

  background-color: $backgroundColor;
  box-shadow: $boxShadow;

  color: $color;
}

.light {
  @include default-theme($GRAY-700, white, $LIGHT_BOX_SHADOW, $COOL-GRAY-100);
}

.dark {
  @include default-theme($GRAY-50, $GRAY-700, $DARK_BOX_SHADOW, $COOL-GRAY-700);
}

.options {
  position: absolute;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: $BORDER-RADIUS-MD;

  box-shadow: $LIGHT_BOX_SHADOW;

  font-size: inherit;

  &.closing,
  &.opening {
    cursor: default;
  }

  &.top {
    bottom: 100%;

    margin-bottom: 0.5rem;
    &.opening {
      @include fade-in-bottom;
    }
    &.closing {
      @include fade-out-bottom;
    }
  }

  &.bottom {
    top: 100%;

    margin-top: 0.5rem;
    &.opening {
      @include fade-in-top;
    }
    &.closing {
      @include fade-out-top;
    }
  }
}

.option-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  max-height: 300px;
  margin: 0;
  padding: 0;

  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.option-wrap {
  scroll-snap-align: start;

  width: 100%;
}

.option-item {
  display: flex;
  gap: 4px;
  justify-content: space-between;

  min-width: 100%;
  max-width: 100%;
  padding: 0.7em 0.8em;
  border: 0;
  border-radius: $BORDER-RADIUS-SM;

  background-color: transparent;
  outline: none;

  color: inherit;
  font-weight: 300;
  font-size: 0.8em;
  text-align: start;
  white-space: pre-wrap;

  cursor: pointer;

  &.hovered {
    background-color: $INDIGO-600;

    color: white;
  }
}

.icon-wrap {
  margin-top: 0.2em;

  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
