@use '../../../styles/libs' as libs;

@mixin theme($color, $backgroundColor, $boxShadow, $borderColor) {
  border: 1px solid $borderColor;

  background-color: $backgroundColor;
  box-shadow: $boxShadow;

  color: $color;
}

.select {
  position: absolute;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: libs.$BORDER-RADIUS-MD;

  box-shadow: libs.$LIGHT_BOX_SHADOW;

  font-size: inherit;

  &.closing,
  &.opening {
    cursor: default;
  }

  &.top {
    bottom: 100%;

    margin-bottom: 0.5rem;
    &.opening {
      @include libs.fade-in-bottom;
    }
    &.closing {
      @include libs.fade-out-bottom;
    }
  }

  @include theme(
    libs.$GRAY-700,
    white,
    libs.$LIGHT_BOX_SHADOW,
    libs.$COOL-GRAY-100
  );

  &.dark {
    @include theme(
      libs.$GRAY-50,
      libs.$GRAY-700,
      libs.$DARK_BOX_SHADOW,
      libs.$COOL-GRAY-700
    );
  }

  &.bottom {
    top: 100%;

    margin-top: 0.5rem;
    &.opening {
      @include libs.fade-in-top;
    }
    &.closing {
      @include libs.fade-out-top;
    }
  }
}

.select-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  max-height: 300px;
  margin: 0;
  padding: 0;

  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.select-wrap {
  scroll-snap-align: start;

  width: 100%;
}

.select-option-item {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;

  min-width: 100%;
  max-width: 100%;
  padding: 0.7em 0.8em;
  border: 0;
  border-radius: libs.$BORDER-RADIUS-SM;

  background-color: transparent;
  outline: none;

  color: inherit;
  font-weight: 300;
  font-size: 0.8em;
  text-align: start;
  white-space: pre-wrap;

  cursor: pointer;

  &.hovered {
    background-color: libs.$INDIGO-600;

    color: white;
  }
}

.icon-wrap {
  margin-top: 0.2em;

  visibility: hidden;
  &.show {
    visibility: visible;
  }
}
