@import '../../../styles/libs';

.tab {
  display: flex;
  gap: 0.5em;
  overflow-x: auto;

  margin: 0 1em;
  padding: 0.5em 0.5em 0;
  padding-top: 0.5em;
  border-radius: $BORDER-RADIUS-SM;

  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

$SHADOW-COLOR: rgba($GRAY-300, 0.5);

.overflow-light {
  box-shadow: inset 10px 0 5px -8px rgb(0 0 0 / 0.1),
    inset -10px 0 5px -8px rgb(0 0 0 / 0.1);
}

.overflow-dark {
  box-shadow: inset 10px 0 5px -8px rgb(0 0 0 / 0.3),
    inset -10px 0 5px -8px rgb(0 0 0 / 0.3);
}

.tab-item {
  padding-bottom: 0.5em;
  border-bottom: transparent 3px solid;

  font-weight: 100;
}

.tab-item-selected {
  border-color: $ORANGE-400;

  font-weight: 700;
}

.item-content {
  white-space: pre;
}
