@import '../../../styles/libs';

@mixin default-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  background-color: $backgroundColor;

  color: $textColor;
  @include border($border, 1px);

  &.delayed-button {
    &:disabled {
      background-color: $backgroundColor;

      @if $backgroundColor == transparent {
        @if $border == transparent {
          border-radius: 0;
          > .delay-bar {
            bottom: -90%;

            background-color: $textColor;
          }
        }
      }
    }
  }
}

@mixin disable-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:disabled {
    background-color: $backgroundColor;

    color: $textColor;
    @include border($border, 1px);
  }

  &.delayed-button > .delay-bar {
    background-color: $backgroundColor;
  }
}

@mixin hover-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):hover {
    background-color: $backgroundColor;

    color: $textColor;
    @include border($border, 1px);
  }
}

@mixin active-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):active {
    background-color: $backgroundColor;

    color: $textColor;
    @include border($border, 2px);
  }
}

.button,
.delayed-button {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;

  -webkit-text-size-adjust: none;

  transition: background-color 0.3s, color 0.3s;

  &:disabled {
    cursor: not-allowed;
  }

  &.children-type-text {
    padding: 0 16px;
  }

  &.children-type-icon {
    padding: 0;
  }

  &.children-type-both {
    padding: 0 10px;
  }

  //* Size
  &.size-small {
    height: 32px;
    &.children-type-icon {
      width: 32px;
    }
  }

  &.size-medium {
    height: 40px;
    &.children-type-icon {
      width: 40px;
    }
  }

  &.size-large {
    height: 48px;
    &.children-type-icon {
      width: 48px;
    }
  }

  //* Shape
  &.shape-default {
    border-radius: $BORDER-RADIUS-LG;
  }

  &.shape-round {
    border-radius: 99999px;
  }

  //* Icon direction
  &.icon-direction-left {
    flex-direction: row-reverse;
  }
  &.icon-direction-right {
    flex-direction: row;
  }
}

.button-content {
  position: relative;
  z-index: 2;

  margin: 14px 0;
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
  }
}

.delay-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  &.delaying {
    transform: translateX(100%);
  }
}

//* Theme
.primary {
  @include default-theme($WHITE, $PURPLE-600);
  @include disable-theme($PURPLE-10, $PURPLE-300);
  @include hover-theme($WHITE, $PURPLE-550);
  @include active-theme($WHITE, $PURPLE-700, $BLUE-500);
}

.secondary {
  @include default-theme($WHITE, $BLUISH-GRAY-700);
  @include disable-theme($BLUISH-GRAY-10, $BLUISH-GRAY-300);
  @include hover-theme($WHITE, $BLUISH-GRAY-600);
  @include active-theme($WHITE, $BLUISH-GRAY-800, $BLUISH-GRAY-400);
}

.success {
  @include default-theme($WHITE, $GREEN-600);
  @include disable-theme($GREEN-50, $GREEN-200);
  @include hover-theme($WHITE, $GREEN-500);
  @include active-theme($WHITE, $GREEN-700, $GREEN-300);
}

.warning {
  @include default-theme($WHITE, $ORANGE-500);
  @include disable-theme($ORANGE-50, $ORANGE-100);
  @include hover-theme($WHITE, $ORANGE-400);
  @include active-theme($WHITE, $ORANGE-600, $ORANGE-300);
}

.danger {
  @include default-theme($WHITE, $PEACH-500);
  @include disable-theme($ORANGE-50, $PEACH-100);
  @include hover-theme($WHITE, $PEACH-400);
  @include active-theme($WHITE, $PEACH-600, $PEACH-300);
}

.text-dark {
  @include default-theme($BLUISH-GRAY-800, transparent);
  @include disable-theme($BLUISH-GRAY-100, transparen);
  @include hover-theme($BLUISH-GRAY-800, $BLUISH-GRAY-50);
  @include active-theme($BLUISH-GRAY-800, $BLUISH-GRAY-100, $BLUISH-GRAY-200);
}

.text-light {
  @include default-theme($BLUISH-GRAY-10, transparent);
  @include disable-theme($GRAY-500, transparen);
  @include hover-theme($BLUISH-GRAY-10, $GRAY-700);
  @include active-theme($BLUISH-GRAY-10, $GRAY-700, $GRAY-500);
}
