@use '../../../styles/libs' as libs;

@mixin default-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  background-color: $backgroundColor;

  color: $textColor;
  @include libs.border($border, 1px);

  &.delayed-button {
    &:disabled {
      background-color: $backgroundColor;

      @if $backgroundColor == transparent {
        @if $border == transparent {
          border-radius: 0;
          > .delay-bar {
            bottom: -90%;

            background-color: $textColor;
          }
        }
      }
    }
  }
}

@mixin disable-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:disabled {
    background-color: $backgroundColor;

    color: $textColor;
    @include libs.border($border, 1px);
  }

  &.delayed-button > .delay-bar {
    background-color: $backgroundColor;
  }
}

@mixin hover-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):hover {
    background-color: $backgroundColor;

    color: $textColor;

    transition: background-color 0.5s, color 0.5s;

    @include libs.border($border, 1px);
  }
}

@mixin active-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):active {
    background-color: $backgroundColor;

    color: $textColor;
    @include libs.border($border, 1px);
  }
}

.button {
  cursor: pointer;
}

.button,
.delayed-button {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;
  border: 0;

  outline: none;

  font-weight: inherit;

  -webkit-text-size-adjust: none;

  &:disabled {
    cursor: not-allowed;
  }

  @layer {
    &.children-type-text {
      padding: 0 16px;
    }

    &.children-type-icon {
      padding: 0;
    }

    &.children-type-both {
      padding: 0 10px;
    }

    //* Size
    &.size-small {
      height: 32px;
      &.children-type-icon {
        width: 32px;
      }
    }

    &.size-medium {
      height: 40px;
      &.children-type-icon {
        width: 40px;
      }
    }

    &.size-large {
      height: 48px;
      &.children-type-icon {
        width: 48px;
      }
    }

    //* Shape
    &.shape-sharp-corner {
      border-radius: 0;
    }

    &.shape-rounded {
      border-radius: libs.$BORDER-RADIUS-MD;
    }

    &.shape-pill {
      border-radius: 99999px;
    }
  }

  //* Icon direction
  &.icon-direction-left {
    flex-direction: row-reverse;
  }
  &.icon-direction-right {
    flex-direction: row;
  }
}

.button-content {
  position: relative;
  z-index: 2;

  margin: 14px 0;
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
  }
}

.delay-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  &.delaying {
    transform: translateX(100%);
  }
}

//* Theme
.primary {
  @include default-theme(libs.$GRAY-50, libs.$INDIGO-600);
  @include disable-theme(rgba(libs.$GRAY-50, 0.6), libs.$INDIGO-300);
  @include hover-theme(white, libs.$INDIGO-500);
  @include active-theme(white, libs.$INDIGO-700, libs.$INDIGO-500);
}

.secondary {
  @include default-theme(libs.$GRAY-50, libs.$BLUE-GRAY-700);
  @include disable-theme(rgba(libs.$GRAY-50, 0.6), libs.$BLUE-GRAY-300);
  @include hover-theme(white, libs.$BLUE-GRAY-600);
  @include active-theme(white, libs.$BLUE-GRAY-800, libs.$BLUE-GRAY-400);
}

.success {
  @include default-theme(libs.$GRAY-50, libs.$LIME-500);
  @include disable-theme(white, libs.$LIME-200);
  @include hover-theme(white, libs.$LIME-400);
  @include active-theme(white, libs.$LIME-600, libs.$LIME-300);
}

.warning {
  @include default-theme(libs.$GRAY-50, libs.$ORANGE-400);
  @include disable-theme(rgba(libs.$GRAY-50, 0.6), libs.$ORANGE-200);
  @include hover-theme(white, libs.$ORANGE-300);
  @include active-theme(white, libs.$ORANGE-600, libs.$ORANGE-300);
}

.danger {
  @include default-theme(libs.$GRAY-50, libs.$ROSE-500);
  @include disable-theme(white, libs.$ROSE-100);
  @include hover-theme(white, libs.$ROSE-400);
  @include active-theme(white, libs.$ROSE-600, libs.$ROSE-300);
}

.dark {
  @include default-theme(libs.$BLUE-GRAY-100, transparent);
  @include disable-theme(rgba(libs.$BLUE-GRAY-100, 0.2), transparent);
  @include hover-theme(libs.$BLUE-GRAY-50, rgba(libs.$GRAY-600, 0.3));
  @include active-theme(libs.$BLUE-GRAY-50, rgba(libs.$GRAY-600, 0.8));
}

.light {
  @include default-theme(libs.$GRAY-700, transparent);
  @include disable-theme(rgba(libs.$GRAY-700, 0.2), transparent);
  @include hover-theme(libs.$BLUE-GRAY-800, rgba(libs.$GRAY-300, 0.3));
  @include active-theme(libs.$BLUE-GRAY-800, rgba(libs.$GRAY-300, 0.8));
}

.ghost {
  @include default-theme(
    rgba(libs.$GRAY-400, 0.5),
    transparent,
    rgba(libs.$GRAY-400, 0.5)
  );
  @include disable-theme(
    rgba(libs.$GRAY-400, 0.2),
    transparent,
    rgba(libs.$GRAY-400, 0.2)
  );
  @include hover-theme(rgba(libs.$GRAY-400, 0.7), rgba(libs.$GRAY-400, 0.1));
  @include active-theme(rgba(libs.$GRAY-400, 0.8), rgba(libs.$GRAY-400, 0.2));
}
