@use 'src/styles/libs' as *;

@mixin default-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  background-color: $backgroundColor;

  color: $textColor;
  @include border($border, 1px);

  &.delayed-button {
    &:disabled {
      background-color: $backgroundColor;

      @if $backgroundColor == transparent {
        @if $border == transparent {
          border-radius: 0;
          > .delay-bar {
            bottom: -90%;

            background-color: $textColor;
          }
        }
      }
    }
  }
}

@mixin disable-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:disabled {
    background-color: $backgroundColor;

    color: $textColor;
    @include border($border, 1px);
  }

  &.delayed-button > .delay-bar {
    background-color: $backgroundColor;
  }
}

@mixin hover-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):hover {
    background-color: $backgroundColor;

    color: $textColor;

    transition: background-color 0.5s, color 0.5s;

    @include border($border, 1px);
  }
}

@mixin active-theme(
  $textColor: transparent,
  $backgroundColor: transparent,
  $border: transparent
) {
  &:not(:disabled):active {
    background-color: $backgroundColor;

    color: $textColor;
    @include border($border, 1px);
  }
}

.button {
  cursor: pointer;
}

.button,
.delayed-button {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  box-sizing: border-box;
  border: 0;

  outline: none;

  font-weight: inherit;
  font-family: inherit;

  -webkit-text-size-adjust: none;

  &:disabled {
    cursor: not-allowed;
  }

  @layer {
    //* Size
    &.size-small {
      height: 32px;
      &.children-type-icon {
        width: 32px;
      }
    }

    &.size-medium {
      height: 40px;
      &.children-type-icon {
        width: 40px;
      }
    }

    &.size-large {
      height: 48px;
      &.children-type-icon {
        width: 48px;
      }
    }

    &.children-type-text {
      padding: 0 16px;
    }

    &.children-type-icon {
      padding: 0;
    }

    &.children-type-both {
      padding: 0 10px;
    }

    //* Shape
    &.shape-sharp-corner {
      border-radius: 0;
    }

    &.shape-rounded {
      border-radius: $BORDER-RADIUS-MD;
    }

    &.shape-pill {
      border-radius: 99999px;
    }
  }

  //* Icon direction
  &.icon-direction-left {
    flex-direction: row-reverse;
  }
  &.icon-direction-right {
    flex-direction: row;
  }
}

.button-content {
  position: relative;
  z-index: 2;

  margin: 14px 0;
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
  }
}

.delay-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  &.delaying {
    transform: translateX(100%);
  }
}

//* Theme
.primary {
  @include default-theme($GRAY-50, $INDIGO-600);
  @include disable-theme(rgba($GRAY-50, 0.6), $INDIGO-300);
  @include hover-theme(white, $INDIGO-500);
  @include active-theme(white, $INDIGO-700, $INDIGO-500);
}

.secondary {
  @include default-theme($GRAY-50, $BLUE-GRAY-700);
  @include disable-theme(rgba($GRAY-50, 0.6), $BLUE-GRAY-300);
  @include hover-theme(white, $BLUE-GRAY-600);
  @include active-theme(white, $BLUE-GRAY-800, $BLUE-GRAY-400);
}

.success {
  @include default-theme($GRAY-50, $LIME-500);
  @include disable-theme(white, $LIME-200);
  @include hover-theme(white, $LIME-400);
  @include active-theme(white, $LIME-600, $LIME-300);
}

.warning {
  @include default-theme($GRAY-50, $ORANGE-400);
  @include disable-theme(rgba($GRAY-50, 0.6), $ORANGE-200);
  @include hover-theme(white, $ORANGE-300);
  @include active-theme(white, $ORANGE-600, $ORANGE-300);
}

.danger {
  @include default-theme($GRAY-50, $ROSE-500);
  @include disable-theme(white, $ROSE-100);
  @include hover-theme(white, $ROSE-400);
  @include active-theme(white, $ROSE-600, $ROSE-300);
}

.clear {
  @include default-theme($GRAY-700, transparent);
  @include disable-theme(rgba($GRAY-700, 0.2), transparent);
  @include hover-theme($BLUE-GRAY-800, rgba($GRAY-300, 0.3));
  @include active-theme($BLUE-GRAY-800, rgba($GRAY-300, 0.8));

  &.dark {
    @include default-theme($BLUE-GRAY-100, transparent);
    @include disable-theme(rgba($BLUE-GRAY-100, 0.2), transparent);
    @include hover-theme($BLUE-GRAY-50, rgba($GRAY-600, 0.3));
    @include active-theme($BLUE-GRAY-50, rgba($GRAY-600, 0.8));
  }
}

.ghost {
  @include default-theme(
    rgba($GRAY-400, 0.5),
    transparent,
    rgba($GRAY-400, 0.5)
  );
  @include disable-theme(
    rgba($GRAY-400, 0.2),
    transparent,
    rgba($GRAY-400, 0.2)
  );
  @include hover-theme(rgba($GRAY-400, 0.7), rgba($GRAY-400, 0.1));
  @include active-theme(rgba($GRAY-400, 0.8), rgba($GRAY-400, 0.2));
}
