@use 'src/styles/libs' as libs;

.toast {
  display: flex;
  align-items: center;
  overflow: hidden;

  width: fit-content;
  height: fit-content;
  border-radius: libs.$BORDER-RADIUS-MD;

  background-color: libs.$GRAY-100;

  color: libs.$GRAY-700;
  font-weight: normal;
  font-size: libs.$FONT-SIZE-SM;

  transition: box-shadow 0.3s;

  &.light {
    box-shadow: 0px 0px 12px rgba(libs.$GRAY-900, 0.1);
    &:hover {
      box-shadow: 0px 0px 12px rgba(libs.$GRAY-900, 0.25);
    }
  }

  &.dark {
    box-shadow: 0px 0px 12px rgba(libs.$GRAY-900, 0.4);
    &:hover {
      box-shadow: 0px 0px 12px rgba(libs.$GRAY-900, 0.8);
    }
  }

  &:hover {
    cursor: grabbing;
  }

  &.invisible {
    visibility: hidden;
  }

  &.float-direction-from-top {
    &.opened {
      @include libs.fade-in-top(0.3s);
    }
    &.closing {
      @include libs.fade-out-top(0.8s);
    }
  }

  &.float-direction-from-bottom {
    &.opened {
      @include libs.fade-in-bottom(0.3s);
    }
    &.closing {
      @include libs.fade-out-bottom(0.8s);
    }
  }

  &.success {
    background-color: libs.$GREEN-400;
  }

  &.fail {
    background-color: libs.$RED-500;
  }

  &.warning {
    background-color: libs.$AMBER-500;
  }

  &.info {
    background-color: libs.$BLUE-400;
  }
}

.toast-wrap {
  overflow: visible;

  max-height: 0;
  margin: 0;

  transition: max-height 0.5s, margin 0.5s;
  &.has-space {
    max-height: 140px;
    margin: 10px 0;
  }
}

$PADDING: 0.3em;

.toast-contents-wrap {
  display: -webkit-box;
  flex: 1;
  overflow: hidden;

  box-sizing: border-box;
  height: fit-content;
  padding: 0.8em 1em;

  &.light {
    background-color: white;

    color: libs.$GRAY-700;
  }

  &.dark {
    background-color: libs.$GRAY-700;

    color: libs.$GRAY-50;
  }
}

.icon-wrap {
  display: flex;

  padding: 0.6em;

  color: white;

  > svg {
    width: 1.2em;
    height: 1.2em;
  }
}

.icon {
  width: 1.3em;
  height: 1.3em;
}
