@use 'src/styles/libs' as *;

@include input-decoration;

.textarea-wrap {
  position: relative;
  display: flex;
  gap: 0.8em;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: fit-content;
  padding: 0;

  &.reversed {
    flex-direction: row-reverse;
  }

  //*Size
  &.size-small {
    margin: 0.15rem $INPUT_SMALL_PADDING_X;
  }

  &.size-medium {
    margin: 0.5rem $INPUT_MEDIUM_PADDING_X;
  }

  &.size-large {
    margin: 1rem $INPUT_LARGE_PADDING_X;
  }
}

.textarea {
  flex: 1;

  padding: 0;
  border: none;

  background-color: inherit;
  outline: none;

  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: 1.3;

  resize: none;

  transition: height 0.3s;

  &::placeholder {
    color: $INPUT_PLACEHOLDER_COLOR;
  }
}
