@use 'src/styles/libs' as *;

@include input-decoration;

.selectbox-icon {
  cursor: pointer;

  transition: transform 0.2s ease-in-out;

  &.reversed {
    transform: rotate(180deg);
  }

  &.disabled {
    cursor: default;
  }
}
